{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="QDPI Kengashi" />
    <meta name="author" content="Meliboev Azimjon, Hatamov Fazliddin">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <title>Kirish</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static '/img/logo_kspi.png' %}" />
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <!-- Choices CSS-->
    <link rel="stylesheet" href="{% static '/vendor/choices.js/public/assets/styles/choices.min.css' %}" />
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="{% static '/vendor/overlayscrollbars/css/OverlayScrollbars.min.css' %}" />
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static '/css/style.default.css' %}" id="theme-stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static '/css/custom.css' %}" />
  </head>

  <body>
    {% if user.is_authenticated %}
      {% if user.lavozim == 'azo' %}

        <!-- Side Navbar -->
        <nav class="side-navbar">
          <div class="side-navbar-inner">
            <!-- Sidebar Header    -->
            <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center">
                    <img class="img-fluid rounded-circle avatar mb-3" src="{% static '/img/icon-user.png' %}" alt="person">
                    <!-- Ismi -->
                    <h2 class="h5 text-white text-uppercase mb-0">{{user.username}}</h2>
                </div>
                <!-- Small Brand information, appears on minimized sidebar--><a class="brand-small text-center" href="{% url 'home' %}">
                    <p class="h1 m-0">QDPI</p></a>
            </div>
            <!-- Sidebar Navigation Menus-->
            <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Asosiy</span>
            <ul class="list-unstyled"> 

                <li class="sidebar-item ">
                    <a class="sidebar-link" href="{% url 'home' %}"> 
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                            <use xlink:href="#real-estate-1"> </use>
                        </svg>
                        Asosiy
                    </a>
                </li>                  
                
                <li class="sidebar-item">
                  <a class="sidebar-link bg-success" href="{% url 'taklif_azo' %}"> 
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                        <use xlink:href="#portfolio-grid-1"> </use>
                    </svg>
                    Takliflar 
                  </a>
                </li>
                
            </ul>
          </div>
        </nav>

        <div class="page">
          <!-- navbar-->
          <!-- navbar-->
          <header class="style-heder-w header pb-3">
            <nav class="nav navbar fixed-top bg-white px-4">
              <div class="w-100 d-flex align-items-center">
                  <a class="menu-btn d-flex align-items-center justify-content-center p-2" id="toggle-btn" href="#">
                    <img width="25px" src="{% static '/img/icon-menu.png' %}" alt="">
                  </a>
                  <ul class="w-100 nav-menu mb-0 list-unstyled d-flex justify-content-between flex-md-row align-items-center">
                    <!-- Notifications dropdown-->
                    <li class="ms-4">
                        <div class="px-md-1 px-lg-3 d-none d-md-inline-block">
                        <a class="navbar-brand d-flex align-items-center gap-3 style-loge-text"href="./index.html">                  
                        <img class="style-w-logo mb-2" src="{% static '/img/logo_kspi.png' %}" alt="Logo" />
                        QDPI Kengash
                        </a>
                        </div>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}" type="a" class="btn btn-success costom-btn-border-radius costom-btn-respanse">
                        CHIQISH
                        </a>
                    </li>
                  </ul>
              </div>
            </nav>
          </header>

          <!-- Breadcrumb-->
          <div class="bg-gray-200 text-sm">
            <div class="container-fluid">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 py-3">
                  <li class="breadcrumb-item"><a class="fw-light" href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-item active fw-light" aria-current="page">Taklif </li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Page Header-->
          <header class="py-4">
            <div class="container-fluid py-2">
              <h1 class="h1 mb-0 text-center">Barcha takliflar</h1>
            </div>
          </header>

          
          <section>
            <div class="container-fluid">
                <div class="row py-5">
                    
                    <!-- Item -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body rounded">
                                <!-- Time -->
                                <div class="timer d-flex align-items-center justify-content-between taklif">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <p class="remainingTime h2">Berilgan vaqt</p>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center h2">
                                        <span class="minutes-number"></span>
                                        <span class="countdown-label">:</span>
                                        <span class="seconds-number"></span>
                                    </div>
                                </div>    
                                <!-- /Time -->
                                <div class="d-flex align-items-start flex-column px-5 taklif" style="min-height: 200px;">
                                    <!-- Vaqt kelish -->
                                    <p id="p-tegi" class="d-none ">{{vaqt}}</p>
                                    <!-- /Vaqt kelish -->
                                    <div>
                                        <div class="" style="min-height: 100px;">
                                            <h5 class="d-inline">Taklif:</h5> 
                                            {{name}}
                                        </div>
                                        <p class="card-text px-2"><h5 class="d-inline">Nomzod:</h5> {{nomzod}}ni tayinlash</p>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-center w-100 my-auto">
                                        <a href="{% url 'roziman' d %}" style="width: 110px;"
                                        class="btn btn-primary rounded-2 mx-2">Roziman</a>
                                        <a href="{% url 'qarshiman' d %}" style="width: 110px;"
                                        class="btn btn-danger rounded-2 mx-2">Qarshiman</a>
                                        <a href="{% url 'betarafman' d %}" style="width: 110px;"
                                        class="btn btn-yellow rounded-2 mx-2">Betarafman</a>
                                    </div>
                                </div>                                            
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

          
          <footer class="main-footer w-100 position-absolute bottom-0 start-0 py-2" style="background: #222">
            <div class="container-fluid">
                <div class="row text-center gy-3">
                    <div class="col-sm-6 text-sm-start">
                        <p class="mb-0 text-sm text-gray-600">2023-2024 &copy;</p>
                    </div>
                    <div class="col-sm-6 text-sm-end">
                        <p class="mb-0 text-sm text-gray-600"><a href="{% url 'home' %}">Kengash.kspi.uz</a></p>
                    </div>
                </div>
            </div>
          </footer>

        </div>

      {% else %}

        <div class="container">
          <div class="row m-5">
            <h1 class="text-center">Sahifa topilmadi</h1>
            <p class="text-center">
              <a class="btn btn-primary" href="{% url 'home' %}">Bosh sahifa</a>
            </p>
          </div>
        </div>

      {% endif %}
    {% endif %}


    <!-- JavaScript files-->
    <script src="{% static '/js/time.js' %}" ></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/vendor/just-validate/js/just-validate.min.js' %}"></script>
    <script src="{% static '/vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static '/vendor/overlayscrollbars/js/OverlayScrollbars.min.js' %}"></script>
    <!-- Main File-->
    <script src="{% static '/js/front.js' %}"></script>   

  </body>

</html>