<h1>Ro`yhatdan o`tish</h1>


<hr>

<form method="post">
    {% csrf_token %}

    <input type="text" name="username" placeholder="username">
    <input type="text" name="last_name" placeholder="last_name">
    <input type="text" name="first_name" placeholder="first_name">
    <select name="lavozim">
        <option value="admin">Admin</option>
        <option value="azo">Azo</option>
    </select>
    <input type="text" name="password1" placeholder="parol">
    <input type="text", name="password2", placeholder="parolni tasdiqlang">   

    <button type="submit">saqlash</button>
</form>