{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="QDPI Kengashi" />
    <meta name="author" content="Meliboev Azimjon, Hatamov Fazliddin">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <title>Kirish</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static '/img/logo_kspi.png' %}" />
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
    <!-- Choices CSS-->
    <link rel="stylesheet" href="{% static '/vendor/choices.js/public/assets/styles/choices.min.css' %}" />
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="{% static '/vendor/overlayscrollbars/css/OverlayScrollbars.min.css' %}" />
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static '/css/style.default.css' %}" id="theme-stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static '/css/custom.css' %}" />
  </head>

  <body>
    {% if user.is_authenticated %}
  
      {% if user.is_superuser %}
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <div class="side-navbar-inner">
              <!-- Sidebar Header    -->
              <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
                  <!-- User Info-->
                  <div class="sidenav-header-inner text-center">
                      <img class="img-fluid rounded-circle avatar mb-3" src="{% static '/img/icon-user.png' %}" alt="person">
                      <!-- Ismi -->
                      <h2 class="h5 text-white text-uppercase mb-0">{{user.username}}</h2>
                  </div>
                  <!-- Small Brand information, appears on minimized sidebar--><a class="brand-small text-center" href="{% url 'home' %}">
                      <p class="h1 m-0">QDPI</p></a>
              </div>
              <!-- Sidebar Navigation Menus-->
              <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Asosiy</span>
              <ul class="list-unstyled">                  
                  <li class="sidebar-item ">
                      <a class="sidebar-link bg-success" href="{% url 'home' %}"> 
                          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                              <use xlink:href="#real-estate-1"> </use>
                          </svg>
                          Asosiy
                      </a>
                  </li>
                  <li class="sidebar-item"><a class="sidebar-link" href="{% url 'azolar' %}"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                          <use xlink:href="#survey-1"> </use>
                      </svg>A'zolar</a>
                  </li>
                  <li class="sidebar-item"><a class="sidebar-link" href="{% url 'davomat' %}"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                          <use xlink:href="#sales-up-1"> </use>
                      </svg>Davomat</a>
                  </li>
                  <li class="sidebar-item"><a class="sidebar-link " href="{% url 'taklif' %}"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                          <use xlink:href="#portfolio-grid-1"> </use>
                      </svg>Takliflar </a>
                  </li>
                  <li class="sidebar-item"><a class="sidebar-link" href="{% url 'statistika' %}"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                          <use xlink:href="#disable-1"> </use>
                      </svg>Statistika</a>
                  </li>
              </ul>
          </div>
        </nav>

        <div class="page">
          <header class="style-heder-w header pb-3">
            <nav class="nav navbar fixed-top bg-white px-4">
                <div class="d-flex align-items-center w-100">
                    <div class="w-100 d-flex align-items-center">
                        <a class="menu-btn d-flex align-items-center justify-content-center p-2" id="toggle-btn">
                            <img width="25px" src="{% static '/img/icon-menu.png' %}" alt="">
                        </a>
                        <ul class="w-100 nav-menu mb-0 list-unstyled d-flex justify-content-between flex-md-row align-items-center">
                            <!-- Notifications dropdown-->
                            <li class="ms-4">
                                <div class="px-md-1 px-lg-3 d-none d-md-inline-block">
                                    <a class="navbar-brand d-flex align-items-center gap-3 style-loge-text" href="{% url 'home' %}">
                                        <img class="style-w-logo mb-2" src="{% static '/img/logo_kspi.png' %}"alt="Logo"/>
                                        QDPI Kengash
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}" class="btn btn-success costom-btn-border-radius costom-btn-respanse">
                                CHIQISH
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
          </header>
          <!-- Counts Section -->
          <section class="py-5">
            <div class="container-fluid">
              <div class="row">
                <!-- Count item widget -->
                <div class="col-12 col-md-6 col-lg-3 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">A'ZOLAR</h3>
                      <p class="display-6 mb-0">{{azo_soni}}</p>
                    </div>
                  </div>
                </div>
                <!-- Count item widget-->
                <div class="col-12 col-md-6 col-lg-3 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">BARCHA TAKLIFLAR</h3>
                      <p class="display-6 mb-0">{{elonlar_soni}}</p>
                    </div>
                  </div>
                </div>
                <!-- Count item widget-->
                <div class="col-12 col-md-6 col-lg-3 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">YANGI TAKLIFLAR</h3>
                      <p class="display-6 mb-0">{{aktivlar_soni}}</p>
                    </div>
                  </div>
                </div>
                <!-- Count item widget-->
                <div class="col-12 col-md-6 col-lg-3 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">BAHOLANGAN TAKLIFLAR</h3>
                      <p class="display-6 mb-0">{{baholangan_soni}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>       
        
          <footer class="main-footer w-100 position-absolute bottom-0 start-0 py-2" style="background: #222">
            <div class="container-fluid">
                <div class="row text-center gy-3">
                    <div class="col-sm-6 text-sm-start">
                        <p class="mb-0 text-sm text-gray-600">2023-2024 &copy;</p>
                    </div>
                    <div class="col-sm-6 text-sm-end">
                        <p class="mb-0 text-sm text-gray-600"><a href="{% url 'home' %}">Kengash.kspi.uz</a></p>
                    </div>
                </div>
            </div>
          </footer>

        </div>  
            
      {% elif user.lavozim == 'admin' %}
        <!-- Side Navbar -->
        <nav class="side-navbar">
          <div class="side-navbar-inner">
              <!-- Sidebar Header    -->
              <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
                  <!-- User Info-->
                  <div class="sidenav-header-inner text-center">
                      <img class="img-fluid rounded-circle avatar mb-3" src="{% static '/img/icon-user.png' %}" alt="person">
                      <!-- Ismi -->
                      <h2 class="h5 text-white text-uppercase mb-0">{{user.username}}</h2>
                  </div>
                  <!-- Small Brand information, appears on minimized sidebar--><a class="brand-small text-center" href="{% url 'home' %}">
                      <p class="h1 m-0">QDPI</p></a>
              </div>
              <!-- Sidebar Navigation Menus-->
              <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Asosiy</span>
              <ul class="list-unstyled">                  
                  <li class="sidebar-item ">
                      <a class="sidebar-link bg-success" href="{% url 'home' %}"> 
                          <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                              <use xlink:href="#real-estate-1"> </use>
                          </svg>
                          Asosiy
                      </a>
                  </li>                  
                  <li class="sidebar-item"><a class="sidebar-link" href="{% url 'davomat' %}"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                          <use xlink:href="#sales-up-1"> </use>
                      </svg>Davomat</a>
                  </li>
                  <li class="sidebar-item"><a class="sidebar-link " href="{% url 'taklif' %}"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                          <use xlink:href="#portfolio-grid-1"> </use>
                      </svg>Takliflar </a>
                  </li>
                  <li class="sidebar-item"><a class="sidebar-link" href="{% url 'statistika' %}"> 
                      <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                          <use xlink:href="#disable-1"> </use>
                      </svg>Statistika</a>
                  </li>
              </ul>
          </div>
        </nav>

        <div class="page">
          <header class="style-heder-w header pb-3">
            <nav class="nav navbar fixed-top bg-white px-4">
                <div class="d-flex align-items-center w-100">
                    <div class="w-100 d-flex align-items-center">
                        <a class="menu-btn d-flex align-items-center justify-content-center p-2" id="toggle-btn">
                            <img width="25px" src="{% static '/img/icon-menu.png' %}" alt="">
                        </a>
                        <ul class="w-100 nav-menu mb-0 list-unstyled d-flex justify-content-between flex-md-row align-items-center">
                            <!-- Notifications dropdown-->
                            <li class="ms-4">
                                <div class="px-md-1 px-lg-3 d-none d-md-inline-block">
                                    <a class="navbar-brand d-flex align-items-center gap-3 style-loge-text" href="{% url 'home' %}">
                                        <img class="style-w-logo mb-2" src="{% static '/img/logo_kspi.png' %}"alt="Logo"/>
                                        QDPI Kengash
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}" class="btn btn-success costom-btn-border-radius costom-btn-respanse">
                                CHIQISH
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
          </header>
          <!-- Counts Section -->
          <section class="py-5">
            <div class="container-fluid">
              <div class="row">
                
                <!-- Count item widget-->
                <div class="col-12 col-md-6 col-lg-4 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">BARCHA TAKLIFLAR</h3>
                      <p class="display-6 mb-0">{{elonlar_soni}}</p>
                    </div>
                  </div>
                </div>
                <!-- Count item widget-->
                <div class="col-12 col-md-6 col-lg-4 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">YANGI TAKLIFLAR</h3>
                      <p class="display-6 mb-0">{{aktivlar_soni}}</p>
                    </div>
                  </div>
                </div>
                <!-- Count item widget-->
                <div class="col-12 col-md-6 col-lg-4 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">BAHOLANGAN TAKLIFLAR</h3>
                      <p class="display-6 mb-0">{{baholangan_soni}}</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>          
        
        
          <footer class="main-footer w-100 position-absolute bottom-0 start-0 py-2" style="background: #222">
            <div class="container-fluid">
                <div class="row text-center gy-3">
                    <div class="col-sm-6 text-sm-start">
                        <p class="mb-0 text-sm text-gray-600">2023-2024 &copy;</p>
                    </div>
                    <div class="col-sm-6 text-sm-end">
                        <p class="mb-0 text-sm text-gray-600"><a href="{% url 'home' %}">Kengash.kspi.uz</a></p>
                    </div>
                </div>
            </div>
          </footer>
        </div>  
            
      {% else %}

        <!-- Side Navbar -->
        <nav class="side-navbar">
          <div class="side-navbar-inner">
            <!-- Sidebar Header    -->
            <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center">
                    <img class="img-fluid rounded-circle avatar mb-3" src="{% static '/img/icon-user.png' %}" alt="person">
                    <!-- Ismi -->
                    <h2 class="h5 text-white text-uppercase mb-0">{{user.username}}</h2>
                </div>
                <!-- Small Brand information, appears on minimized sidebar--><a class="brand-small text-center" href="{% url 'home' %}">
                    <p class="h1 m-0">QDPI</p></a>
            </div>
            <!-- Sidebar Navigation Menus-->
            <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Asosiy</span>
            <ul class="list-unstyled"> 

                <li class="sidebar-item ">
                    <a class="sidebar-link bg-success" href="{% url 'home' %}"> 
                        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                            <use xlink:href="#real-estate-1"> </use>
                        </svg>
                        Asosiy
                    </a>
                </li>                  
                
                <li class="sidebar-item"><a class="sidebar-link " href="{% url 'taklif_azo' %}"> 
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy me-2">
                        <use xlink:href="#portfolio-grid-1"> </use>
                    </svg>Takliflar </a>
                </li>
                
            </ul>
          </div>
        </nav>
        
        
        <div class="page">
          <header class="style-heder-w header pb-3">
            <nav class="nav navbar fixed-top bg-white px-4">
                <div class="d-flex align-items-center w-100">
                    <div class="w-100 d-flex align-items-center">
                        <a class="menu-btn d-flex align-items-center justify-content-center p-2" id="toggle-btn">
                            <img width="25px" src="{% static '/img/icon-menu.png' %}" alt="">
                        </a>
                        <ul class="w-100 nav-menu mb-0 list-unstyled d-flex justify-content-between flex-md-row align-items-center">
                            <!-- Notifications dropdown-->
                            <li class="ms-4">
                                <div class="px-md-1 px-lg-3 d-none d-md-inline-block">
                                    <a class="navbar-brand d-flex align-items-center gap-3 style-loge-text" href="{% url 'home' %}">
                                        <img class="style-w-logo mb-2" src="{% static '/img/logo_kspi.png' %}"alt="Logo"/>
                                        QDPI Kengash
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}" class="btn btn-success costom-btn-border-radius costom-btn-respanse">
                                CHIQISH
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
          </header>
          <!-- Counts Section -->
          <section class="py-5">
            <div class="container-fluid">
              <div class="row">
                
                <!-- Count item widget-->
                <div class="col-12 col-md-6 col-lg-4 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">BARCHA TAKLIFLAR</h3>
                      <p class="display-6 mb-0">{{elonlar_soni}}</p>
                    </div>
                  </div>
                </div>
                <!-- Count item widget-->
                <div class="col-12 col-md-6 col-lg-4 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">YANGI TAKLIFLAR</h3>
                      <p class="display-6 mb-0">{{aktivlar_soni}}</p>
                    </div>
                  </div>
                </div>
                <!-- Count item widget-->
                <div class="col-12 col-md-6 col-lg-4 text-center gy-4 gy-xl-0">
                  <div class="d-flex justify-content-center">
                    <div class="ms-2">
                      <h3 class="h4 text-dark text-uppercase fw-normal style-white-scope">BAHOLANGAN TAKLIFLAR</h3>
                      <p class="display-6 mb-0">{{baholangan_soni}}</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>          
        
        
          <footer class="main-footer w-100 position-absolute bottom-0 start-0 py-2" style="background: #222">
            <div class="container-fluid">
                <div class="row text-center gy-3">
                    <div class="col-sm-6 text-sm-start">
                        <p class="mb-0 text-sm text-gray-600">2023-2024 &copy;</p>
                    </div>
                    <div class="col-sm-6 text-sm-end">
                        <p class="mb-0 text-sm text-gray-600"><a href="{% url 'home' %}">Kengash.kspi.uz</a></p>
                    </div>
                </div>
            </div>
          </footer>

        </div>

      {% endif %}
            
            
    {% else %}
            
      <!-- Navbar -->
      <nav class="bg-gray-100 d-flex justify-content-between align-items-center py-2 px-3 px-sm-4 p-lg-2 shadow-lg z-3 sticky-top" >
        <div class="px-md-1 px-lg-3">
          <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center gap-3 style-loge-text">
            <img src="{% static '/img/logo_kspi.png' %}" class="style-w-logo mb-2" alt="Logo" />
            QDPI Kengash
          </a>
        </div>
        <div class="px-md-2 px-lg-3">
          <a href="{% url 'kirish' %}" type="a" class="btn btn-success costom-btn-border-radius costom-btn-respanse">
            KIRISH
          </a>
        </div>
      </nav>
      <!-- /Navbar -->
            
      <!-- Main -->
      <main>
        <div class="style-main position-relative d-flex justify-content-center align-items-center overflow-hidden">
          <div class="w-100 h-100 position-absolute top-0 start-0 z-n1">
            <img src="{% static '/img/kspi-img1.jpg' %}" class="style-response-img" alt="img"/>
          </div>
        </div>
      </main>
      <!-- /Main -->
            
      <!-- Footer -->
      <footer class="d-flex flex-column flex-lg-row justify-content-center gap-5 align-items-start p-3 p-sm-5">
        <div class="d-flex flex-column gap-4">
          <div>
            <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center gap-3 style-loge-text">
              <img src="{% static '/img/logo_kspi.png' %}" class="style-w-logo" alt="Logo" />
              Kengash.kspi.uz
            </a>
          </div>
          <div>
            QDPI kengashi uchun yaratilgan sayt
          </div>
        </div>
        <div class="d-flex flex-column gap-4">
          <h1>Bog'lanish</h1>
          <div>
            <p>Qo'qon shahar, Turon ko'chasi, 23-uy</p>
            <a href="https://kspi.uz/">www.kspi.uz</a>
          </div>
        </div>
        <div class="d-flex flex-column gap-4">
          <h1>Bizning ijtimoiy tarmoqlar</h1>
          <div class="d-flex flex-wrap gap-3">
            <a href="https://www.facebook.com/kspi.uz.56" target="_blank">
              <img class="style-footer-icon" src="{% static '/img/icon-facebook.png' %}" alt="facebook"/>
            </a>
            <a href="https://t.me/kspi_official" target="_blank">
              <img class="style-footer-icon" src="{% static '/img/icon-telegram.png' %}" alt="telegram"/>
            </a>
            <a href="https://www.instagram.com/kspi_uz/" target="_blank">
              <img class="style-footer-icon" src="{% static '/img/icon-instagram.png' %}" alt="instagram"/>
            </a>
            <a href="https://www.youtube.com/channel/UC6ThR8cLnJmdWDGDz9PR85Q/featured" target="_blank">
              <img class="style-footer-icon" src="{% static '/img/icon-youtube.png' %}" alt="youtube"/>
            </a>
          </div>
        </div>
      </footer>
            
            
    {% endif %}            
            
    <!-- JavaScript files-->
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/vendor/just-validate/js/just-validate.min.js' %}"></script>
    <script src="{% static '/vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static '/vendor/overlayscrollbars/js/OverlayScrollbars.min.js' %}"></script>
    <!-- Main File-->
    <script src="{% static '/js/front.js' %}"></script>         
  </body>          
</html>