{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="QDPI Kengashi" />
        <meta name="author" content="Meliboev Azimjon, Hatamov Fazliddin">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="all,follow" />
        <title>Kirish</title>
        <!-- Favicon-->
        <link rel="shortcut icon" href="{% static '/img/logo_kspi.png' %}" />
        <!-- Google fonts - Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <!-- Choices CSS-->
        <link rel="stylesheet" href="{% static '/vendor/choices.js/public/assets/styles/choices.min.css' %}" />
        <!-- Custom Scrollbar-->
        <link rel="stylesheet" href="{% static '/vendor/overlayscrollbars/css/OverlayScrollbars.min.css' %}" />
        <!-- theme stylesheet-->
        <link rel="stylesheet" href="{% static '/css/style.default.css' %}" id="theme-stylesheet" />
        <!-- Custom stylesheet - for your changes-->
        <link rel="stylesheet" href="{% static '/css/custom.css' %}" />
    </head>

    <body>
        <section class="ftco-section m-5">
            <div class="login-container">
                <div>
                    <div class="text-center">
                        <div class="logo-wrapper d-flex flex-column gap-3 align-items-center justify-content-center mb-2">
                            <img class="logo-img" src="{% static '/img/logo_kspi.png' %}" alt=""/>
                            <h2 class="heading-section text-success text-center mx-2 my-0">
                                Qo'qon davlat pedagogika instituti
                            </h2>
                        </div>
                        <h4 class="kengash">
                            Institut ichki kengashiga kirish
                        </h4>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="login-wrap p-0">
                            <h3 class="mb-4 text-center"></h3>
                            <form method="post" class="signin-form" novalidate>
                              {% csrf_token %}
                                <div class="form-group mb-4">
                                    <label for="username">
                                        Foydalanuvchi nomi
                                    </label>
                                    <input type="text" id="username" name="username" class="form-control rounded login-input" placeholder="Foydalanuvchi nomi" required />
                                    <span class="d-block error-feedback text-end error-feedback-login"></span>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="password-field">Parol</label>
                                    <div class="position-relative">
                                        <input id="password-field" name="password" type="password" class="form-control rounded login-input" placeholder="Parol" required />
                                        <span toggle="#password-field" id="eye" class="fa fa-fw fa-eye field-icon toggle-password position-absolute top-50 end-0 translate-middle"></span>
                                    </div>
                                    <span class="d-block error-feedback text-end error-feedback-password"></span>
                                </div>
                                <div class="form-group btn-wrapper">
                                    <button type="submit" id="login" class="form-control btn btn-success submit px-3 rounded" >
                                        Kirish
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        <!-- JavaScript files-->
        <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static '/vendor/just-validate/js/just-validate.min.js' %}"></script>
        <script src="{% static '/vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
        <script src="{% static '/vendor/overlayscrollbars/js/OverlayScrollbars.min.js' %}"></script>
        <!-- Main File-->
        <script src="{% static '/js/front.js' %}"></script>
        <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"
        />
    </body>
</html>
